<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
</head>

<center><h1>Welcome to the About Page</h1></center>

<img src="http://hdwallpaperbook.com/wp-content/gallery/header-background-images/subPageHeaderBG.jpg" height = "120" width = "1800">
<p>
  There is something special about this
</p>

<body>

</body>
</html>

<%= link_to 'About', root_path %>