<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my Home Page</title>
</head>

<center><h1>Welcome to my Home Page</h1></center>

<img src="http://hdwallpaperbook.com/wp-content/gallery/header-background-images/subPageHeaderBG.jpg" height = "120" width = "1800">
<p>
  This is a great place to visit and we are now learning Rails which is quite delightful
</p>

<body>

</body>
</html>


<%= link_to 'About', about_path %>